#app {
    margin-top: 3%;
    margin-left: 20%;
    margin-right: 20%;
    font-family: "Arial";
}
#header {
    padding:4%;
    background: #62a2ec;
    color: white;
    font-size: 30px;
    font-weight: bold;
}
#h2 {
    text-align: center;
    font-weight: bold;
}
#box {
    border: 1px solid black;
}
#result {
    margin-top: 1%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 3%;
}
#search {
    text-align: center;
}
#button {
    margin-left: 35px;
    background: none;
    color: white;
    border: none;
    font-size: 25px;
}
#menu {
    float: right;
}
#error {
    color: red;
    text-align: center;
}
#footer {
    text-align: center;
    bottom: 10px;
    height: 50px;
    width: 100%;
    background: white;
    border: 1px solid black;
}
